nav {
    background-color: $primary-color;
    color: $white;
    ul {
        list-style: none;
        display: flex;
    }
    li {
        padding: 10px;
        &:hover {
            background-color: #998099;
        }
    }
    a {
        text-decoration: none;
        color: $white;
        font-weight: bold;
    }
}